
https://www.tecmint.com/network-between-guest-vm-and-host-virtualbox/

CentOS 7

File:
sudo vi /etc/sysconfig/network-scripts/ifcfg-enp0s8

property:
ONBOOT=yes


sudo yum check-update
curl -fsSL https://get.docker.com/ | sh
sudo systemctl start docker
sudo systemctl status docker



Remove Hyper-V interfaces:
set devmgr_show_nonpresent_devices=1
start devmgmt.msc
